.filter {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(82, 132, 206);
  padding: 20px;
  width: 250px;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
